/*  your css code here. If applicable */
.panel {
    display: flex;
    flex: 1;
    cursor: pointer;
    transition: flex 0.5s;
}

.panel.active {
    flex: 5;
}

.panel-content {
    background-size: cover;
    background-position: center;
}

#panel-1 {
    background-image: url("https://images.unsplash.com/photo-1558979158-65a1eaa08691?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
}

/* Add similar styling for panel-2 to panel-5 with respective background images */